.dock {
    position: absolute;
    width: calc(auto + 20px);
    height: 3.68rem;
    z-index: 4;

    top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 15px;
    
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);


    justify-content: center;
    align-items: center;

} 

.dock.reveal.show {
    transform: translate(-50%, -50%);
}

.dock-apps {
    display: flex;
    align-items: center;
    gap: 7px;
}

.dock-item {
    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;

    border-radius: 14px;

    transition:
        transform 0.18s cubic-bezier(.2,.8,.2,1),
        margin 0.18s ease;
}

.dock-item span {
    font-size: 38px;

    transition:
        transform 0.18s cubic-bezier(.2,.8,.2,1),
        filter 0.18s ease;
}

.dock-item:hover {
    transform: translateY(-12px) scale(1.25);
}

.dock-separator {
    width: 1.3px;
    height: 42px;
    margin: 0 7px;
    background: rgba(255, 255, 255, 0.3);
}

.dock-item.active::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 1px;
    background-color: #fff;
}