@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

.loading{
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
}

.loading::before{
    content: "";
    position: absolute;
    inset: -50%;
    width: 250vmax;
    height: 250vmax;
    left: 50%;
    top: 50%;
    background: #000;

    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: center;
    z-index: -1;
}


.loading-text{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    z-index: 1;
}

.loading-text span{
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-family: "Quattrocento Sans", sans-serif;
}

.loading-text span:nth-child(1){animation: blur-text 1.5s 0s infinite linear alternate;}
.loading-text span:nth-child(2){animation: blur-text 1.5s .2s infinite linear alternate;}
.loading-text span:nth-child(3){animation: blur-text 1.5s .4s infinite linear alternate;}
.loading-text span:nth-child(4){animation: blur-text 1.5s .6s infinite linear alternate;}
.loading-text span:nth-child(5){animation: blur-text 1.5s .8s infinite linear alternate;}
.loading-text span:nth-child(6){animation: blur-text 1.5s 1s infinite linear alternate;}
.loading-text span:nth-child(7){animation: blur-text 1.5s 1.2s infinite linear alternate;}
.loading-text span:nth-child(8){animation: blur-text 1.5s 1.4s infinite linear alternate;}
.loading-text span:nth-child(9){animation: blur-text 1.5s 1.6s infinite linear alternate;}
.loading-text span:nth-child(10){animation: blur-text 1.5s 1.8s infinite linear alternate;}
.loading-text span:nth-child(11){animation: blur-text 1.5s 2s infinite linear alternate;}
.loading-text span:nth-child(12){animation: blur-text 1.5s 2.2s infinite linear alternate;}

@keyframes blur-text{
    from{filter: blur(0);}
    to{filter: blur(4px);}
} 

#startup{
    opacity: 0;
    transform: scale(.97);
    filter: blur(8px);
    transition:
        opacity .8s ease,
        transform .8s cubic-bezier(.22,1,.36,1),
        filter .8s ease;
}

.loading.hide::before{
    animation: diagonalSwipe 1s cubic-bezier(.77,0,.18,1) forwards;
}

@keyframes diagonalSwipe{
    from{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    to{
        transform: translate(-140%, -140%) rotate(-45deg);
    }
}


.loading.hide .loading-text{
    animation: textOut 1s cubic-bezier(.77,0,.18,1) forwards;
}

@keyframes textOut{
    from{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
    to{
        opacity: 0;
        transform: translate(-180px, -180px);
        filter: blur(8px);
    }
}