@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: none;
}


body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.shutdown {
    animation: shutdown 2s forwards;
}

@keyframes shutdown {
    to {
        opacity: 1;
        background: black;
    }
}

#startup {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.bgjour,
.fgjour,
.bgnuit,
.fgnuit {
    position: absolute;
    width: 100%;
    height: 100vh;

    background-size: cover;

    pointer-events: none;
    overflow: hidden;

    transform-origin: 50% 200vh;

    transform: rotate(-60deg);

    opacity: 1;
    visibility: hidden;

    transition:
        transform 1.5s cubic-bezier(.65, 0, .35, 1),
        visibility 1.5s cubic-bezier(.65, 0, .35, 1)
}

.bgjour.active,
.fgjour.active,
.bgnuit.active,
.fgnuit.active {
    transform: rotate(0deg);

    opacity: 1;
    visibility: visible;

    transition:
        transform 1.5s cubic-bezier(.65, 0, .35, 1),
        visibility 1.5s cubic-bezier(.65, 0, .35, 1)
}

.bgjour.leaving,
.fgjour.leaving,
.bgnuit.leaving,
.fgnuit.leaving {
    transform: rotate(180deg);
/* 
    opacity: 0; */
    visibility: hidden;


    transition:
        transform 1.5s cubic-bezier(.65, 0, .35, 1),
        visibility 1.5s cubic-bezier(.65, 0, .35, 1)
}

.bgjour.reset,
.fgjour.reset,
.bgnuit.reset,
.fgnuit.reset {
    transform: rotate(-180deg);
    opacity: 1;
    visibility: hidden;
    transition: none !important;
}


.bgjour {
    z-index: -1;
    background: url("../img/bgjour.png");
    background-size: cover;
}

.fgjour {
    z-index: 1;
    background: url("../img/fgjour.png");
    background-size: cover;
}

.bgnuit {
    z-index: -1;
    background: url("../img/bgnuit.jpg");
    background-size: cover;
}

.fgnuit {
    z-index: 1;
    background: url("../img/fgnuit.png");
    background-size: cover;
}